@import '@variables';

.newsItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    padding: 5px;
    width: 100%;
    gap: 20px;
    border-radius: 4px;
    @include box-sh;
    scroll-snap-align: center;

    h1 {
        @include font-16;
        max-height: 60px;
        overflow-y: auto;
        display: flex;
        align-items: center;
    }
}

.files {
    display: flex;
    gap: 10px;
}

.btnGroup {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-self: end;
}
