@import '@variables';

$pb: 20px;

.cardContainer {
    overflow: hidden;
    height: 500px;
    overflow: hidden;
    border-radius: 10px !important;
    padding-bottom: 20px;
    position: relative;
    box-sizing: border-box;

    @include box-sh;
    p {
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*Этот псевдоэлемент нужен чтобы сделать pb снизу*/
.cardContainer:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: $pb;
    background: white;
    bottom: 0;
}

.img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16 / 9;
}

.title {
    @include font-24;
    max-height: 100px;
    text-align: justify;
}

.date,
.body {
    font-weight: 500;
}

.date {
    @include font-18;
    color: $text-secondary;
}

.body {
    @include font-16;
    text-align: justify;
    color: $text-secondary;
}
.bgFilter {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s;
    z-index: 1;
}

.bgFilter:hover {
    background: rgba(0, 0, 0, 0.08);
}
