@import '@variables';

.TextAndVideo2 {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 100px 50px;

    @include mr-t-b;
    @include pd-t-b;
    @include border;

    h1 {
        @include font-42;
        grid-column: 1/3;
    }
    p {
        @include font-20;

        grid-column: 1/3;
        text-align: justify;
        line-height: 1.5;
    }
    p::before {
        content: '';
        display: inline-block;
        background: black;
        width: 50px;
    }

    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    .TextAndVideo2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
