.EditorContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    input[type='file'] {
        display: none;
    }
}

.previewImg {
    max-width: 300px;
    width: 100%;
    aspect-ratio: 16 / 9;
    
}

.input {
    max-width: 1000px;
}

.textarea {
    max-width: 1000px;
}

.fileInfo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.selectBtn {
    padding: 5px;
    border: 2px solid black;
    width: max-content;
}

button {
    width: max-content;
}
