@import '@variables';

.modal {
    position: absolute;
    max-width: 100vw;
    width: 100%;
    background: white;
    z-index: 5;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal nav {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.modal a {
    padding: 10px 0;
    color: black;
    border-bottom: 1px solid black;
}

.modal a:first-child {
    margin-top: 10px;
}

.modal a:last-child {
    border-bottom: none;
}

.bottomLine {
    position: absolute;
    width: 30%;
    background: rgba(0, 0, 0, 0.4);
    height: 5px;
    bottom: 80px;
    border-radius: 4px;
}
