@import '@variables';
.headerWrapper {
    position: relative;
}

.Header {
    background: $main-blue !important;
}

.Header {
    a {
        .Btn {
            color: $header-link-color;
            cursor: pointer;
        }
    }
}

.vstuIcon {
    img {
        max-width: 150px;
    }
}

.box {
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .vstuIcon {
        display: none;
    }

    .Box2 {
        display: none !important;
    }
}
