@import '@variables';

.Header {
    background: $main-blue !important;
}

.Header {
    a {
        color: $header-link-color;
    }
}

.vstuIcon {
    max-width: 150px;
}

.box {
    justify-content: center;
}

.Link {
    display: block;
}

@media screen and (max-width: 900px) {
    .vstuIcon {
        display: none;
    }
}
