@import '@variables';

.CMS {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.block {
    width: 98vw;
    height: 95vh;
    @include box-sh;
    @include cms-br;
}
