@import '@variables';

.CMS {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .body {
        padding: 0px 20px;
        max-width: 100%;
        height: 100%;
        overflow: auto;
        border-radius: 1em;

        @include cms-br;
        @include box-sh;
    }
}

.paper {
    height: 98vh;
    box-sizing: border-box;
    display: grid;
    width: 99vw;
    grid-template-columns: minmax(50px, 100px) 1fr;
    gap: 20px;
}
