@import '@variables';

.ButtonAndContainer {
    // padding: adaptiveSize(50, 25) !important;
    @include mr-t-b;
}

.button {
    outline: none;
    border-radius: 30px !important;
    border-color: black !important;
    border-width: 2px !important;
    padding: adaptiveSize(20, 10) adaptiveSize(80, 40);
    background: white;
    font-weight: bold;

    a {
        @include font-26;
        color: black;
    }
}

.LineContainer {
    margin: 0 auto;
    display: flex !important;
    justify-content: center !important;
}
