@import '@variables';

$color: rgb(144, 202, 249);

.button {
    @include font-20;
    color: black;
    cursor: pointer;
    background: white;
    outline: none;
    border: none;
    display: block;
    max-width: max-content;
    padding: adaptiveSize(10, 5) adaptiveSize(20, 10);
}

.button.active {
    position: relative;
    color: $mui-blue;
}

.button:hover {
    color: $mui-blue;
}

.button.active:after {
    content: '';
    position: absolute;
    background: $mui-blue;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100%;
}
