@import '@variables';

$color: rgb(144, 202, 249);

.button {
    @include Roboto;

    font-size: adaptiveSize(20, 12);

    color: black;
    cursor: pointer;
    background: white;
    outline: none;
    border: none;
    display: block;
    max-width: max-content;
    padding: adaptiveSize(10, 5) adaptiveSize(20, 10);
    transition: 0.3s;
    position: relative;
}

.button.active {
    color: $mui-blue;
}

.button:hover {
    color: $mui-blue;
}

.button.active:after {
    transition: 0.3s;
    content: '';
    position: absolute;
    height: 3px;
    background: $mui-blue;
    border-radius: 4px;
    bottom: -3px;
    left: 0;
    width: 100%;
    z-index: 3;
}
