@import '@variables';
.news {
    padding-top: 20px;
}
.newsContainer {
    width: 100%;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    margin-top: 20px;
    overflow-y: auto;
    border-radius: 20px;
    max-height: 800px;
}

.searchContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.btnContainer {
    display: flex;
    justify-content: center;
}
