@import '@variables';

.Hero {
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.VideoFilter {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    flex-direction: column;
    justify-content: center;
}

.VideoFilterContent {
    text-transform: uppercase;
    text-align: center;
    font-family: Montserrat;
    color: $color-w;

    .title {
        @include font-64;
        background: rgb(4, 12, 59);
        line-height: normal;
    }

    h4 {
        margin: 50px 0;
        @include font-40;
    }

    .Faculty {
        color: $color-w;
        @include font-30;
        display: inline-block;
        border-bottom: 4px solid white;
    }

    .Info {
        @include font-24;
        margin: 50px 0;
        text-transform: none;
        font-weight: 300;
    }
}

.VideoIntro {
    object-fit: cover;
    width: 100vw;
}
