@import '@variables';

.ItemCircle {
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.circle {
    @include font-64;

    color: $color-w;
    background: $main-blue;
    width: adaptiveSize(150, 75);
    height: adaptiveSize(150, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}

.circle ~ p {
    @include font-30;
    font-weight: 600;
    margin-top: 40px;
}

.circle ~ span {
    @include font-20;
    margin-top: 10px;
}
