@import '@variables';

.wrapper {
    padding: 15px;
    @include box-sh;
    border-radius: 4px;
}

.container {
    overflow: hidden;
    height: 250px;
}

.container > *:not(:first-child) {
    margin-top: 5px;
}

.title {
    white-space: nowrap;
    font-weight: 500;
    @include font-20;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date,
.body {
    @include font-16;
}

.date {
    opacity: 0.6;
}

@media screen and (max-width: 400px) {
    .container {
        max-height: 150px;
    }
}
