@import '@variables';

.wrapper {
    padding: 15px;
    @include box-sh;
    border-radius: 4px;
}

.container {
    overflow: hidden;
    height: 250px;
}

.container > *:not(:first-child) {
    margin-top: 5px;
}

.title {
    font-weight: 500;
    @include font-18;
    width: 100%;
    max-height: adaptiveSize(60, 40);
    overflow: hidden;
}

.body {
    @include font-16;
}

.date {
    @include font-14;
    opacity: 0.6;
}

.body {
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    text-align: justify;
}

.body:before {
    @include redLine;
}

.wrapper:hover * {
    color: $mui-blue;
}

@media screen and (max-width: 499px) {
    .wrapper {
        border-color: $mui-blue;
    }
}

@media screen and (max-width: 400px) {
    .container {
        max-height: 150px;
    }
}
