$color-w: white;

$main-blue: rgba(16, 6, 159, 1);

$header-link-color: white;

$border: 1px solid black;

$footer-bg: #e0e0e0;

$mr-pd: 50px;

$pt: 20px;

$pb: 20px;

$mui-blue: #1976d2;

$text-secondary: rgba(0, 0, 0, 0.6);

$maxWidth: 1920;

/*
функция принимает 2 параметра: 
размер при разрешении 1920px
и размер при 320px
*/
@function adaptiveSize($pcSize, $mobSize) {
    @return calc(
        #{$mobSize + px} + (#{$pcSize} - #{$mobSize}) * (100vw - 320px) / (#{$maxWidth} -
                    320)
    );
}

@mixin adaptiv-font($pcSize, $mobSize) {
    font-size: adaptiveSize($pcSize, $mobSize);
}

@mixin custom-mr-t-b($pcSize: 50, $mobSize: $pcSize / 2) {
    margin: adaptiveSize($pcSize, $mobSize) 0;
}

@mixin object-fit {
    object-fit: cover;
}

@mixin br-rd {
    border-radius: 4px;
}

@mixin border {
    border-bottom: $border;
    border-top: $border;
}

@mixin mr-t-b {
    margin: adaptiveSize(100, 50) auto;
}

@mixin mr-t-b-20 {
    margin: adaptiveSize(20, 10) auto;
}

@mixin mr-left-50 {
    margin-left: adaptiveSize(50, 25);
}

@mixin pd-t-b {
    $size: adaptiveSize(20, 10);
    padding-top: $size;
    padding-bottom: $size;
}

@mixin mr-sub {
    $size: adaptiveSize(50, 25);
    margin-top: $size;
    margin-bottom: $size;
}

@mixin font-12 {
    @include adaptiv-font(12, 7);
}

@mixin font-16 {
    @include adaptiv-font(16, 8);
}

@mixin font-18 {
    @include adaptiv-font(18, 9);
}

@mixin font-20 {
    @include adaptiv-font(20, 10);
}

@mixin font-24 {
    @include adaptiv-font(24, 12);
    text-align: center;
    font-weight: 500;
}

@mixin font-26 {
    @include adaptiv-font(26, 13);
}

@mixin font-30 {
    @include adaptiv-font(30, 15);
}

@mixin font-32 {
    @include adaptiv-font(32, 16);
}

@mixin font-40 {
    @include adaptiv-font(40, 20);
    text-align: center;
}

@mixin font-42 {
    @include adaptiv-font(42, 21);
    text-align: center;
}

@mixin font-64 {
    @include adaptiv-font(64, 32);
}

//--------------CMS-----------------
@mixin cms-br {
    border-radius: 20px;
}

@mixin box-sh {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 13px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 13px 0px rgba(34, 60, 80, 0.2);
}
