:root {
    --maxWidth: 1920;
}

$color-w: white;

$main-blue: rgba(16, 6, 159, 1);

$mui-blue: #1976d2;

$header-link-color: white;

$border: 1px solid black;

$footer-bg: #e0e0e0;

$mr-pd: 50px;

$pt: 20px;

$pb: 20px;

$text-secondary: rgba(0, 0, 0, 0.6);

$maxWidth: var(--maxWidth);

/*
функция принимает 2 параметра: 
размер при разрешении 1920px
и размер при 320px
*/
@function adaptiveSize($pcSize, $mobSize) {
    @return calc(
        #{$mobSize + px} + (#{$pcSize} - #{$mobSize}) * (100vw - 320px) / (#{$maxWidth} -
                    320)
    );
}

@mixin Roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin decor-lines($color: black) {
    content: '';
    position: absolute;
    height: 3px;
    background: $color;
    width: 95%;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

@mixin adaptiv-font($pcSize, $mobSize) {
    font-size: adaptiveSize($pcSize, $mobSize);
}

@mixin custom-mr-t-b($pcSize: 50, $mobSize: $pcSize / 2) {
    margin: adaptiveSize($pcSize, $mobSize) 0;
}

@mixin object-fit {
    object-fit: cover;
}

@mixin br-rd {
    border-radius: 4px;
}

@mixin border {
    border-bottom: $border;
    border-top: $border;
}

@mixin mr-t-b {
    margin: adaptiveSize(100, 50) auto;
}

@mixin mr-t-b-20 {
    margin: adaptiveSize(20, 10) auto;
}

@mixin h2-title-mr-b {
    margin-bottom: adaptiveSize(40, 20);
}

@mixin mr-left-50 {
    margin-left: adaptiveSize(50, 25);
}

@mixin pd-t-b {
    $size: adaptiveSize(20, 10);
    padding-top: $size;
    padding-bottom: $size;
}

@mixin mr-sub {
    $size: adaptiveSize(50, 25);
    margin-top: $size;
    margin-bottom: $size;
}

//--------------fonts-----------------//
@import 'fonts';

//--------------CMS-----------------//
@import 'cms';

//-------------Adaptation-----------//
@media screen and (min-width: 2000px) {
    :root {
        --maxWidth: 2000;
    }
}

@media screen and (min-width: 4000px) {
    :root {
        --maxWidth: 4000;
    }
}

@media screen and (min-width: 8000px) {
    :root {
        --maxWidth: 8000;
    }
}
