@import '@variables';

.BM_Container {
    flex-grow: 1;
    display: none;
}

.BM_Icon {
    position: relative;
    display: block;
    width: 30px;
    display: flex;
    flex-direction: column;
}

.MB_Icon_lines {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
        display: block;
        height: 3px;
        background: white;
        border-radius: 3px;
    }
}

.BM {
    @include box-sh;
    padding: 0 10px;
    position: absolute;
    top: 80px;
    background: white;
    border-radius: 4px;
    color: $mui-blue;

    a {
        display: block;
        margin: 10px 0;
        position: relative;
    }

    a::after {
        content: '';
        position: absolute;
        bottom: -5px;
        width: 0px;
        height: 2px;
        background: $mui-blue;
        transition: 0.5s;
    }

    a:hover::after {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .BM_Container {
        display: block;
    }
}
