@import '@variables';
.Partners {
    h2 {
        @include font-42;
    }
    h3 {
        @include font-24;
        @include mr-t-b;
    }
}

.imgWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        max-width: 200px;
        width: 100%;
        height: min-content;
    }
}
