@import '@variables';
.Partners {
    @include mr-t-b;
    h2 {
        @include font-42;
    }
    
    h3 {
        @include font-24;
        @include mr-sub;
    }
}

.imgWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;

    img {
        max-width: 250px;
        min-width: 120px;
        width: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 750px) {
    .imgWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }
}
