@import '@variables';

.newsItem {
    padding: 10px;
    width: 100%;
    height: 100%;
    @include box-sh;
    @include cms-br;
    @include br-rd;
    overflow: hidden;
    gap: 20px;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: start;

    h1 {
        font-size: 20px;
        max-height: 60px;
        overflow-y: auto;
    }

    img {
        width: 170px;
        height: 170px;
        @include br-rd;
        object-fit: cover;
        object-position: center;
    }
}

.itemInfo {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.date {
    display: flex;
    gap: 10px;
}

.files {
    display: flex;
    gap: 10px;
}

.btnGroup {
    display: flex;
    justify-content: end;
    gap: 20px;
}
