@import '@variables';

.contactsBlock {
}

.container {
    padding-top: 2em;
    align-items: center;

    h1 {
        @include font-24;
        font-weight: bold;
        margin-bottom: 50px;
        text-align: center;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2em;
}
