@import '@variables';

.contactsBlock {
}

.container {
    padding-top: 2em;
    align-items: center;

    h1 {
        font-size: adaptiveSize(24, 20);
        font-weight: bold;
        margin-bottom: adaptiveSize(50, 25);
        text-align: center;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 2em;

    h4 {
        margin-bottom: 10px;
    }
}
