@import '@variables';

.container {
    height: 310px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    @include br-rd;
    padding-bottom: 15px;

    @include box-sh;

    img {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 9;
        @include object-fit;
        object-position: top;
    }

    .date {
        display: flex;
        align-items: center;
    }

    .body {
        text-align: justify;
        color: $mui-blue;
        font-weight: 400;
        height: 200px;
        overflow: hidden;
    }

    .date,
    .body {
        padding: 0 10px;
    }
}
