@import '@variables';

$border-line-style: 2px solid black;

.LineContainer {
    border-bottom: $border-line-style;
    border-top: $border-line-style;
    padding: adaptiveSize(50, 25) 0;
    margin: adaptiveSize(40, 20) auto !important;
    max-width: 1524px;
}
