@import '@variables';

.Swiper {
}

.SwiperSlide {
    cursor: pointer;
    justify-content: center;
    display: flex;
    // border: 1px solid black;
}

.img {
    aspect-ratio: 16 / 9;
    object-position: 50% 50%;
    object-fit: contain;
    max-width: 1000px;
    width: 100%;
    display: block;
    @include br-rd;
}
