@import '@variables';

.Swiper {
}

.SwiperSlide {
    cursor: pointer;
    justify-content: center;
    display: flex;
    // border: 1px solid black;
}

.img {
    object-position: center;
    object-fit: cover;
    max-width: 850px;
    width: 100%;
    display: block;
    @include br-rd;
}
