@import '@variables';

.wrapper {
    margin-top: adaptiveSize(50, 25);
}

.newsBlock {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: adaptiveSize(30, 15);
}

.archiveBtn {
    margin-top: adaptiveSize(50, 25);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .newsBlock {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}
