@import '@variables';

.Admission {
    @include mr-t-b;
    @include pd-t-b;

    position: relative;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    line-height: 1.5;

    h2 {
        @include font-42;
        margin-bottom: adaptiveSize(100, 50);
        grid-column: 1/4;
    }

    @media screen and (max-width: 920px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: adaptiveSize(30, 15);
    }
}

.Admission:after,
.Admission:before {
    @include decor-lines;
}

.Admission:after {
    top: 0;
}

.Admission:before {
    bottom: 0;
}
