@import '@variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

// /* Стилизация скроллбара */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: $mui-blue;
    border: 2px solid white;
    border-radius: 10px;
}

img {
    display: block;
}

a {
    color: black;
    cursor: pointer;
}

.App {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
