* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
img {
    display: block;
}
a {
    color: black;
    cursor: pointer;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
