.newsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    margin-top: 20px;
    overflow-y: auto;
    border-radius: 20px;
    max-height: 800px;
}
