@import '@variables';

:root {
    --minW: 400px;
}

.newsContainer {
    width: 100%;
    gap: adaptiveSize(20, 10);
    margin-top: 20px;
    overflow: auto;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    :root {
        --minW: 250px;
    }
}
