@import '@variables';

.Career {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: adaptiveSize(40, 20) adaptiveSize(50, 25);

    @include mr-t-b;
    @include pd-t-b;

    h2 {
        text-align: center;
        @include font-42;
        margin-bottom: adaptiveSize(40, 20);
    }

    h4 {
        margin-bottom: 10px;
        @include font-20;
    }

    h2,
    a[data-type='button'] {
        grid-column: 1/4;
    }

    li::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 1px;
        background: black;
        margin-right: 5px;
        margin-bottom: 4px;
    }
}

.Career > div {
    line-height: 1.5;
    text-align: justify;
    word-wrap: break-word;

    li,
    p {
        @include font-18;
        position: relative;
        line-height: 1.8;
    }
}

@media screen and (max-width: 920px) {
    .Career {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
